:root {
    //fuentes
    --fuente_principal: 'Raleway', sans-serif;
    --fuente_secundaria: 'Roboto', sans-serif;
    --fuente_cursiva: 'Bona Nova', serif;
    //Colores
    --primario:#5e311e;
    --secundario:#c39c63;
    --negro:#000;
    --blanco:#ffffff;
    --grisClaro:#eceeef;
    --cafeClaro:#ebe7de;
   
}


body{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    background-color: #ebe7de;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: block;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
h1, h2, h3{
    font-family: 'Raleway', sans-serif;
    margin: 0 0 50px 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}

h1{
    font-size: 2rem;
}
@media (min-width:768px){
    h1{
        font-size: 2.5rem;
        margin-bottom:2rem;
    }   
}
h2{
    font-size: 2.25rem;
    color:#5e311e;   
    }
h2 span{
   
    color: #c39c63;
    font-size: 1.125rem;
     display: block;
    }
h3{
    font-size: 2rem;
    }
    
.text-center{
    text-align: center;
}

.bg-white{
    background-color:white ; 
}
.margin-negativo-10{
    margin-top: -6.25rem;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

////////////////HEADER///////////////////////

.header{
    height:100%;
   
 
   
    }
    .img-header{
        height:100vh;
        width:100%;
       overflow:hidden;   
    }
    .img-header img{
        width:100%;
        height:100%;
        position:relative;
        object-fit:cover;
       
        object-position: center top;
    }

   
    


    #nav{
        width: 100%;
        height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.85);
        position: fixed;
        top:0;
        bottom:0;
        z-index:1;
        overflow: hidden;
        transition: all .6s;
        color:white;
        
    }
    @media (min-width:768px){
        #nav{
      
        height: 3.125rem;
      
        flex-direction: row;
       
        justify-content: flex-end;
        background-color: transparent;
      
        top:1.25rem;
        bottom:0;
        overflow: hidden;
        transition: all .6s;
     
        
    } 
    }
    #nav.active{
        height: 100%;
    }
   

    #nav a{
        text-decoration: none;
        color: beige;
        display: block;
        padding-left: 50px;
        padding-right: 50px;
        align-self: stretch;
        line-height: 3.125rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }
    #nav a:hover{
        background-color: rgba(255,255,255,.3);
        color:#c39c63;
    }
    #nav .menu-activo{
      
        color:#c39c63; 
    }
    #nav .menu-bar{
        width: 30px;
        margin: 10px 20px;
        padding-top: 10px;
        cursor: pointer;
        position: fixed;
        top:10px;
        right: 10px;

    }
   #nav .menu-bar.scrolled{
    background-color: rgba(25, 25, 25, 0.9);
    padding:.5rem;
    border-radius:5px;
    
   }
    #nav.scrolled {
     background-color: rgba(25, 25, 25, 0.9);
     top:0;
          }
    
    @media (min-width:768px){
        #nav .menu-bar{
            opacity:0;
            width: 30px;
        }
    }
    .uno,.dos,.tres{
        width: 100%;
        height: 3px;
        background-color:  beige;
    }
    .dos{
        margin:5px 0;
    }
    .dos:hover, .uno:hover, .tres:hover{
        transform: rotate(5deg);
    }
    .active .uno{
        transform: rotate(45deg)translate(5px, 5px) ;
       
    }
    .active .dos{
      opacity: 0;
    }
    .active .tres{
        transform: rotate(-45deg) translate(6px, -7px);
        
    } 
    .contenedor-logo{
        position:absolute;
        height:100%;
        width:100%;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color:rgba(0,0,0,0.6);

    }
    .logo{
        width: 50%;
        margin: 0 auto;
          padding-top:5rem;               
        } 
       
    @media (min-width: 768px){
        .logo{
           width: 12.5rem;
           margin:1.25rem;
           padding-top:0;  
            }
     } 
     .texto-header h1{
        text-align: center;
        color: white;
        text-transform: uppercase;
        margin-top: 8rem;
        font-size:2.5rem;
        line-height:2;
               
            }
     @media (min-width: 768px){
        .texto-header h1{
        
           margin-top: -3rem;
             font-size: 2.5rem;
             }
            }
           


            .footer {
                background-color: #5e311e;
                margin:0 auto;
               
               
              }
              .footer .contenido-footer {
                padding: 3.125rem;
                margin:0 auto;
             
              }
              @media (min-width: 768px) {
                .footer .contenido-footer {
                  display: grid;
                  grid-template-columns: repeat(3, 1fr);
                  gap: 1.25rem;
                }
              }
              .footer .copyright {
                text-align: center;
                margin: 0;
                padding: 1.25rem;
                color: #ffffff;
              }
              
              .footer-box {
                font-family: "Bona Nova", serif;
                text-align: center;
                margin-bottom: 3.125rem;
              }
              @media (min-width: 768px) {
                .footer-box {
                  margin-bottom: 0;
                }
              }
              .footer-box h3 {
                font-family: "Bona Nova", serif;
                margin: 0 0 0.625rem 0;
                font-size: 1.5rem;
                color: #c39c63;
              }
              .footer-box p, .footer-box a {
                font-size: 1.25rem;
                margin: 0;
              }