.img-header img{
  object-position: 5% 0%;
}
.scrolled {
    background-color: rgba(25, 25, 25, 0.9);
         }
#nav .menu-bar{
   
    right: 20px;

}
.contenido-principal{
    width:100%;
    margin:0 auto;
    padding:1rem;
    background-color:#fff;
}

@media (min-width: 768px) {
    .contenido-principal{
        background-color: white;
        padding:50px 20px;
        margin:0 auto;
        width:70rem;
        position:relative;
        top:-6.25rem;
    }
    .contenido-nosotros {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.25rem;
     
    }
  }
  .contenido-nosotros .imagen {
    margin-bottom: 3.125rem;
  }
  @media (min-width: 768px) {
    .contenido-nosotros .imagen {
      margin: 0 1.25rem 0 0;
    }

  }

  
  .contenido-nosotros .imagen img {
    height: 15.75rem;
    width: 17rem;
    object-fit: cover;
  
    transform: rotate(-6deg);
    border: 1.875rem solid #ffffff;
    box-shadow: 9px 10px 5px -7px rgba(0, 0, 0, 0.35);
  }
  @media (min-width: 768px){
    .contenido-nosotros .imagen img{
        height: 18.75rem;
        width: 25rem; 
          margin-left:3rem;
    }
  }
  .contenido-nosotros .texto blockquote {
   
    margin: 0;
    padding: 0.625rem;
    border-left: 0.5rem solid #5e311e;
    font-size: 1.25rem;
  }
  .texto p{
    weight:100%;
    overflow:hidden;
    text-align:left;
    padding-right:2rem;
  }
  .footer{
    background-color: white;
   padding-top:3.125rem;
 
    margin:0 auto;
    width:100%;
   
    }
    @media (min-width:768px){
      .footer{
    background-color: white;
    padding:50px 20px;
    margin:0 auto;
    width:70rem;
    margin-top:-7rem;
    }  
    }
    .copy-nosotros {
        text-align: center;
        width:100%;
        margin: 0;
        padding:2rem 0;
      
        background-color:#5e311e;
        color: #fff;
       
  
      } 
    @media (min-width:768px){
        .copy-nosotros {
      text-align: center;
      width:100%;
      margin: 0;
      padding:8.25rem 0 1rem 0;
      color: #fff;
      background-color:#5e311e;
      position:relative;
      bottom:0;
      margin-top:-6.25rem;
      z-index:-1;
     

    } 
    }
     